.call {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.call .one-box {
    box-shadow: 0 0 10px 5px #ccc;
    background-color: white;
}
/* Media  */
@media (max-width: 1200px) {
    .call {
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width:750px) {
    .call {
        flex-direction: row;  
    }
}
@media (max-width:557px) {
    .call {
        flex-direction: column;  
    }
}